.loginPage{
    padding-top: 5rem;
    padding-left: 7rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.divStyle{
        display: flex; 
        flex-direction: column;
        align-self: center;

    }

.inputLabel{
        line-height: "2rem";
        margin-top: .5rem;
    }

.inputBox{
    border-style: none;
    }

.errorMessageStyle{
        color: red; 
        font-size: 12px;
        margin-top: .25rem; 
        margin-bottom: 0rem; 

    }

.inputContainer{
    border-style: solid;
    border-color: rgb(191, 207, 207);
    border-width: 1px;
    display: flex;
    width: fit-content;
    width: 20rem;
    align-content: space-between;
    border-radius: 5px;

}

.inputBox{
    border-style: none;
    border-style: none;
    height: 2rem;
    width: 20rem;
    border-radius: 5px;

}

.iconContainer{
    width: 1.5rem;
    border-style: none;
    border-radius: 10rem;
    align-self: center;
}

.toggleButtons{
    width: 20rem;
    display: flex;
    justify-content: flex-start;
}

.toggleButton{
    margin-right: 1rem;
}

.toggleButton input[type="radio"]:checked + span
{
    font-weight: bold;
    color: red
}

.buttonContainer{
    display: flex;
    flex-direction: column;
}

.signInButton, 
.saveButton{
    margin: 1rem 0;
    height: 2.5rem;
    background-color: #f04b4b;
    color: white;
    border-color: rgb(191, 207, 207);
    border-radius: 5px;

}

.facebookButton{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem 0;
    background-color:#4679e6;
    height: 2.5rem;
    color: white;
    padding:.25rem;
    border-color: rgb(191, 207, 207);
    border-radius: 5px;


}


.fbIcon{
    height: 1.5rem;
    margin-right: .5rem;
    padding:.25rem
}


.separatorDiv{
    /* border-bottom:2px solid black; */
    border-top:2px solid darkslategray;
    margin-top: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.separator{
    margin-top: -1rem;
    background: white;
    width: 1.75rem;
    padding: 0 0rem 0 1rem;
    font-weight: bold;
    color: rgb(70, 69, 69);
}

.cancel{
    text-decoration: underline;
    text-align: center;
}

.privacyDiv{
    display: flex;
    justify-content:space-between;
    align-content: center;
}

.privacyItem{
    text-decoration: underline;
    font-size: 12px;
    padding: 0 1rem;
    height: 1rem;
    color: grey ;
}